name: OpenAPI lint workflow
# description: Check specifications for SFTI's openapi rules.
on:
  workflow_call:
    inputs:
      filenames:
        type: string
        required: true
        description: "Files to be linted. (default: *.yaml, list of files separated by whitespace)"

env:
  REDOCLY_VERSION: "2.15.0"

jobs:
  lint-openapi:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Lint Repo
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref || github.ref }}

      - name: Checkout Config Repo
        uses: actions/checkout@v4
        with:
          repository: swissfintechinnovations/.github
          path: github

      - name: Get commit message
        id: skip
        run: echo "COMMIT_MESSAGE=$(git log -1 --pretty=%B | tr -d '\n')" >> $GITHUB_OUTPUT

      - uses: actions/setup-node@v4
        with:
          node-version: latest

      - name: Install redocly version ${{env.REDOCLY_VERSION}}
        run: |
          npm install -g @redocly/cli@$REDOCLY_VERSION

      - name: Lint SFTI Specifications report overview
        if: always() && !contains(steps.skip.outputs.COMMIT_MESSAGE, '[skip-workflow]')
        run: |
          echo ""
          echo "---------------------------: Summary :----------------------------"
          export NODE_NO_WARNINGS=1
          npx @redocly/cli@$REDOCLY_VERSION lint --config=github/.github/redocly.yaml --format=summary ${{ inputs.filenames }}

      - name: Lint SFTI Specifications
        if: always() && !contains(steps.skip.outputs.COMMIT_MESSAGE, '[skip-workflow]')
        run: |
          export NODE_NO_WARNINGS=1
          npx @redocly/cli@$REDOCLY_VERSION lint --config=github/.github/redocly.yaml --format=stylish ${{ inputs.filenames }}

      - name: Lint SFTI Specifications (detailed)
        if: always() && !contains(steps.skip.outputs.COMMIT_MESSAGE, '[skip-workflow]')
        run: |
          export NODE_NO_WARNINGS=1
          npx @redocly/cli@$REDOCLY_VERSION lint --config=github/.github/redocly.yaml ${{ inputs.filenames }}
